<% html_title(l(:label_incoming_mail_plural)) %>

<h2><%=l(:label_incoming_mail_plural)%></h2>

<div class="autoscroll">
  <table class="list">
    <thead>
      <tr>
	<th><%=l(:label_subject)%></th>
	<th><%=l(:label_project)%></th>
	<th><%=l(:label_received_on)%></th>
	<th><%=l(:label_handled)%></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for mail in @mails %>
        <tr class="<%= cycle("odd", "even") %>">
          <td class="subject"><%= link_to mail.subject, mail %></td>
          <td class="name"><%= link_to_or_project_name mail %></td>
	  <td align="center"><%= format_time(mail.created_on) %></td>
	  <td align="center"><%= checked_image mail.handled? %></td>
          <td class="buttons">
            <%= link_to l(:button_delete), mail, :class => 'icon icon-del',
                :method => :delete, :confirm => l(:text_are_you_sure) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
