<% html_title(l(:label_incoming_mail)) %>

<h2><%=l(:label_incoming_mail)%></h2>

<h3><%= @mail.subject %></h3>
<p>
  <%=l(:label_project)%>: <%= link_to_or_project_name @mail %>
</p>
<p>
  <%=l(:label_received_on)%>: <%= format_time(@mail.created_on) %>
</p>

<% unless @mail.handled? %>
<p>
  <%=l(:label_error_message)%>: <%=h @mail.error_message %>
</p>
<% end %>

<div class="wiki">
  <pre><%=h @mail.content %></pre>
</div>
